<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>自定义过渡动画.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>687BF2151D224E0900B5A592</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>687BF22E1D224E0900B5A592</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>687BF2391D224E0900B5A592</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
